
* {
    /* change le box model */
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    /* image responsive, largeur maxi */
    max-width: 100%;
    /* hauteur "auto" */
    height: auto;
}
.carrousel_parent-ecrans {
    /* aligne horizontalement les enfants */
    display: flex;
    /* largeur du parent */
    width: 100%;
    /* permet de scroller horizontalement */
    overflow-x: scroll;
    /* animation de défilement */
    scroll-behavior: smooth;

    /* permet de scroller par blocs */
    scroll-snap-type: x mandatory;
    margin-bottom: 2rem;
    max-width: 500px;
}
.carrousel_ecran {
    /* largeur du parent pour chaque enfant */
    width: 100%;
    /* permet de garder toute la largeur du parent */
    flex: none;
    /* aligne les enfants par blocs */
    scroll-snap-align: start;
    border: 5px solid rgb(179, 179, 179);
    margin: 10px;
    border-radius: 5px;
}
.carrousel_ecran figure {
    /* enlève les marges par défaut */
    margin: 0;
}



/* Boutons */
.carrousel {
    position: relative;
  }
  
  .carrousel_btn {
    position: absolute;
    top: 50%;
    /* centre verticalement ~50% vertical */
    top: calc(min(500px, 100vw) / 16 * 9 / 2 + 1rem); 
    /* methode du point mort */
    transform: translateY(-50%); 
    width: 2rem;
    height: 2rem;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    display: grid;
    place-content: center;
    color: #fff;
  }
  
  .carrousel_btn-avant {
    left: 0;
  }
  
  .carrousel_btn-apres {
    right: 0;
  }


  /* liens actif */
  .caroussel_liste-liens {
    /* aligne horizontalement les enfants */
    display: flex;
    /* centre horizontalement les enfants */
    justify-content: center;
    /* enlève les marges par défaut */
    margin: 0;
    /* enlève les padding par défaut */
    padding: 0;
    /* enlève les puces par défaut */
    list-style: none;
    /* espace entre les enfants */
    gap: 1rem;

    
  }


  .caroussel_liste-liens > li > a{
    background-color: rgb(39, 183, 53);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

  }

  .actif {
    background-color: #000000;
    color: #ffffff;
  }


  figcaption {
    font-family: 'roboto', sans-serif;
  }

  h1 {
    color: #ffffff;
    font-family: 'roboto', sans-serif;
    text-align: center;
  }

  hr {
    width: 100%;
    border: 2px solid #ffffff;
    margin-bottom: 30px;
  }